@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1FAEE;
}

.calculator {
  width: 350px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "display display display clear"
    "seven eight nine divide"
    "four five six minus"
    "one two three plus"
    "dot zero multiply enter";
  border-radius: 3%;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border: 10px solid #457B9D;
  padding: 2px;
}

button {
  font-size: 22px;
  font-weight: bold;
  border: 0;
  color: #edf2f4;
  background-color: #1D3557;
  transition: all 0.1 s;
  border-radius: 6%;
}

button:hover {
  background-color: #457B9D;
  
}

.display {
  grid-area: display;
  background-color: #457B9D;
  color: #edf2f4;
  border-radius: 5%;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  overflow: hidden ;
}
  @media screen and (max-width:360px) {
    .calculator {
      width: 250px;
      height: 350px;  
    }
  }
@media screen and (min-height: 1000px) {
  .calculator {
    width: 800px;
      height: 900px; 
  }
button {
  font-size: 60px;
}
.display {
  font-size: 70px;
}
}


.zero {
  grid-area: zero;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.dot {
  grid-area: dot;
}
.enter {
  grid-area: enter;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.divide {
  grid-area: divide;
}
.multiply {
  grid-area: multiply;
}
.clear {
  grid-area: clear;
}
